.room-item-img-small {
  height: 12rem;
  width: 12rem;
  clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);

  margin-left: 4rem;
  margin-top: 4rem;
}
.room-item-button {
  margin-bottom: 20px !important;
  color: white;
}

.room-button-container {
  align-items: center;
}
